.c-medium {
  margin: 0 auto;
  max-width: 720px;

  h1 {
    line-height: 40px;
    font-family: var(--font-family-primary);
    font-size: 32px;
    font-weight: 500;
  }

  h1 + p {
    padding-top: 16px;
    line-height: 24px;
    font-size: 16px;
  }

  h2 {
    margin-top: 72px;
    margin-bottom: 24px;
    border-top: 1px solid var(--c-divider-lighter);
    padding-top: 32px;
    line-height: 32px;
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-weight: 500;
  }

  h3 {
    margin-top: 48px;
    margin-bottom: 24px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
  }

  p {
    margin-bottom: 24px;
    font-weight: 400;
  }

  a {
    color: var(--c-info-light);
    transition: color .25s;

    &:hover {
      color: var(--c-info-dark);
    }
  }

  ul {
    list-style: disc;
    padding-left: 17px;
  }

  li + li {
    padding-top: 8px;
  }

  blockquote {
    border-left: 4px solid var(--c-divider-lighter);
    padding-left: 24px;
    font-style: italic;
  }

  code {
    display: inline-block;
    border-radius: 4px;
    padding: 0 6px;
    font-family: var(--font-family-mono);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--c-info-light);
    background-color: var(--c-white-mute);
    word-break: break-all;
  }

  pre {
    margin: 32px -12px;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    color: var(--c-white);
    background-color: #282c34;

    & > code {
      padding: 0;
      line-height: 28px;
      font-family: var(--font-family-mono);
      font-size: 14px;
      color: var(--c-white);
      background-color: #282c34;
      word-break: keep-all;
    }
  }

  .StoryBase + pre {
    margin-top: 0;
    border-top: 1px solid var(--c-divider-darker);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    overflow-x: auto;
  }

  .StoryBase ul {
    list-style: none;
    padding-left: 0;
  }

  .StoryBase li + li {
    padding-top: 0;
  }

  @media (min-width: 375px) {
    pre {
      margin: 32px -16px;
      padding: 16px;
    }
  }

  @media (min-width: 768px) {
    pre {
      margin: 32px -24px;
      padding: 24px;
    }
  }
}
