.c-medium {
  position: relative;
  margin: 0 auto;
  max-width: 720px;

  h1 {
    line-height: 40px;
    font-family: var(--font-family-primary);
    font-size: 32px;
    font-weight: 500;
  }

  h1 + p {
    padding-top: 16px;
    line-height: 24px;
    font-size: 16px;
  }

  h2 {
    margin-top: 72px;
    margin-bottom: 24px;
    border-top: 1px solid var(--c-divider-light);
    padding-top: 32px;
    line-height: 32px;
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-weight: 500;
  }

  h3 {
    margin-top: 48px;
    margin-bottom: 24px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
  }

  p {
    margin-bottom: 24px;
    font-weight: 400;
  }

  section + p {
    margin-top: 24px;
  }

  a {
    color: var(--c-info-light);
    transition: color .25s;

    &:hover {
      color: var(--c-info-dark);
    }
  }

  ul {
    list-style: disc;
    padding-left: 17px;
  }

  li + li {
    padding-top: 8px;
  }

  blockquote {
    border-left: 4px solid var(--c-divider-lighter);
    padding-left: 24px;
    font-style: italic;
  }

  code {
    display: inline-block;
    border-radius: 4px;
    padding: 0 6px;
    font-family: var(--font-family-mono);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--c-info-light);
    background-color: var(--c-white-mute);
    word-break: break-all;
  }

  [class*='language-'] {
    margin: 24px -24px;
    font-family: var(--font-family-mono);
    font-size: 14px;
    color: var(--c-white);
    background-color: #282c34;
    overflow: hidden;
    overflow-x: auto;

    pre > code {
      border-radius: 0;
      padding: 0;
      line-height: 28px;
      font-family: var(--font-family-mono);
      font-size: 14px;
      color: var(--c-white);
      background-color: #282c34;
      word-break: keep-all;
    }

    @media (min-width: 375px) {
      margin: 24px -32px;
    }

    @media (min-width: 768px) {
      margin: 24px -24px;
      border-radius: 8px;
    }
  }

  [class*='language-'] pre,
  [class*='language-'] code {
    margin: 0;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  [class*='language-'] pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 24px;
    background: transparent;
    overflow-x: auto;

    @media (min-width: 375px) {
      padding: 24px 32px;
    }

    @media (min-width: 768px) {
      padding: 24px;
    }
  }

  .StoryBase + [class*='language-'] {
    display: none;
    margin-top: 0;
    border-top: 1px solid var(--c-divider-darker);
    overflow: hidden;
    overflow-x: auto;

    @media (min-width: 768px) {
      border-radius: 0 0 8px 8px;
    }
  }

  .StoryBase ul {
    list-style: none;
    padding-left: 0;
  }

  .StoryBase li + li {
    padding-top: 0;
  }

  a.header-anchor {
    float: left;
    margin-left: -0.87em;
    opacity: 0;
    pointer-events: none;
  }
}

.dark-mode .c-medium {
  code {
    color: var(--c-info-light);
    background-color: var(--c-black-mute);
  }
}
