.modal-open {
  overflow: hidden;
}

.modal-open .modal-wrapper {
  display: block;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-backdrop);
  background-color: rgba(0, 0, 0, .8);
  opacity: 1;
}

.modal-backdrop-enter-active,
.modal-backdrop-leave-active {
  transition: opacity .25s;
}

.modal-backdrop-enter,
.modal-backdrop-leave-active {
  opacity: 0;
}

.modal-content-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal);
  height: 100%;
  overflow: hidden;
}

.modal-content-enter-active,
.modal-content-leave-active {
  transition: all .3s;
}
