/**
 * Colors Base
 *
 * These are the pure base color presets. Most of the time, you should not be
 * using these colors directly in the theme but rather use "Colors Theme"
 * instead because those are "Theme (light or dark)" dependant.
 * -------------------------------------------------------------------------- */

 :root {
  --c-white: #ffffff;
  --c-white-soft: #f9f9f9;
  --c-white-mute: #f1f1f1;

  --c-black: #000000;
  --c-black-deep: #171717;
  --c-black-soft: #242424;
  --c-black-mute: #2f2f2f;

  --c-black-elevated: #242424;
  --c-black-elevated-soft: #2f2f2f;
  --c-black-elevated-mute: #3a3a3c;

  --c-gray: #8E8E93;

  --c-gray-dark-1: #636366;
  --c-gray-dark-2: #48484a;
  --c-gray-dark-3: #3a3a3c;
  --c-gray-dark-4: #2c2c2e;
  --c-gray-dark-5: #1c1c1e;

  --c-gray-light-1: #aeaeb2;
  --c-gray-light-2: #c7c7cc;
  --c-gray-light-3: #d1d1d6;
  --c-gray-light-4: #e5e5ea;
  --c-gray-light-5: #f2f2f7;

  --c-divider-light-1: rgba(60, 60, 60, .29);
  --c-divider-light-2: rgba(60, 60, 60, .12);

  --c-divider-dark-1: rgba(84, 84, 84, .65);
  --c-divider-dark-2: rgba(84, 84, 84, .48);

  --c-text-light-1: var(--c-black);
  --c-text-light-2: rgba(60, 60, 60, .7);
  --c-text-light-3: rgba(60, 60, 60, .33);
  --c-text-light-4: rgba(60, 60, 60, .18);

  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, .6);
  --c-text-dark-3: rgba(235, 235, 235, .38);
  --c-text-dark-4: rgba(235, 235, 235, .18);

  --c-info: #3b8eed;
  --c-info-light: #549ced;
  --c-info-lighter: #50a2ff;
  --c-info-dark: #3468a3;
  --c-info-darker: #255489;

  --c-success: #00b489;
  --c-success-light: #0fcea0;
  --c-success-lighter: #27e8ba;
  --c-success-dark: #068f6e;
  --c-success-darker: #086b53;

  --c-warning: #ffc517;
  --c-warning-light: #ffe417;
  --c-warning-lighter: #ffff17;
  --c-warning-dark: #e0ad15;
  --c-warning-darker: #bc9112;
  --c-warning-bg: rgba(255, 197, 23, .1);

  --c-danger: #ed3c50;
  --c-danger-light: #f43771;
  --c-danger-lighter: #fd1d7c;
  --c-danger-dark: #cd2d3f;
  --c-danger-darker: #ab2131;

  --c-alternative: #de41e0;
  --c-alternative-light: #e936eb;
  --c-alternative-lighter: #f616f8;
  --c-alternative-dark: #823c83;
  --c-alternative-darker: #602960;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

 :root {
  --c-bg: var(--c-white);
  --c-bg-soft: var(--c-white-soft);
  --c-bg-mute: var(--c-white-mute);

  --c-divider: var(--c-divider-light-1);
  --c-divider-light: var(--c-divider-light-2);

  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);
  --c-text-3: var(--c-text-light-3);
  --c-text-4: var(--c-text-light-4);

  --c-text-inverse-1: var(--c-text-dark-1);
  --c-text-inverse-2: var(--c-text-dark-2);
  --c-text-inverse-3: var(--c-text-dark-3);
  --c-text-inverse-4: var(--c-text-dark-4);
}

.dark-mode {
  --c-bg: var(--c-black-deep);
  --c-bg-soft: var(--c-black-soft);
  --c-bg-mute: var(--c-black-mute);

  --c-divider: var(--c-divider-dark-1);
  --c-divider-light: var(--c-divider-dark-2);

  --c-text-1: var(--c-text-dark-1);
  --c-text-2: var(--c-text-dark-2);
  --c-text-3: var(--c-text-dark-3);
  --c-text-4: var(--c-text-dark-4);

  --c-text-inverse-1: var(--c-text-light-1);
  --c-text-inverse-2: var(--c-text-light-2);
  --c-text-inverse-3: var(--c-text-light-3);
  --c-text-inverse-4: var(--c-text-light-4);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
  --font-family-base: "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-primary: "interstate", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-number: "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-mono: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}

/**
 * Shadows
 * -------------------------------------------------------------------------- */

:root {
  --shadow-depth-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --shadow-depth-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
  --shadow-depth-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
  --shadow-depth-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
  --shadow-depth-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
}

/**
 * Z Indexes
 * -------------------------------------------------------------------------- */

:root {
  --z-index-sidebar: 1000;
  --z-index-header: 1100;
  --z-index-footer: 1100;
  --z-index-tooltip: 2000;
  --z-index-dropdown: 3000;
  --z-index-screen: 4000;
  --z-index-backdrop: 5000;
  --z-index-modal: 5100;
  --z-index-snackbar: 6000;
}

/**
 * Easings
 * -------------------------------------------------------------------------- */

:root {
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-back: cubic-bezier(1, -.75, 1, 1);

  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-back: cubic-bezier(.175, .885, .320, 1.275);
  --ease-out-back-quint: cubic-bezier(.175, .885, .280, 1.5);

  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
}

/**
 * Component: Preloader
 * -------------------------------------------------------------------------- */

:root {
  --preloader-color: var(--c-black);
}

.dark-mode {
  --preloader-color: var(--c-white);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --button-primary-text: var(--c-text-inverse-1);
  --button-primary-bg: var(--c-black);
  --button-primary-bg-hover: var(--c-gray-dark-4);
  --button-primary-bg-focus: var(--c-gray-dark-3);
  --button-primary-inverse-text: var(--c-text-1);
  --button-primary-inverse-bg: var(--c-white);
  --button-primary-inverse-bg-hover: var(--c-white-mute);
  --button-primary-inverse-bg-focus: var(--c-gray-light-4);

  --button-secondary-text: var(--c-text-1);
  --button-secondary-border: var(--c-black);
  --button-secondary-bg-hover: var(--c-white-mute);
  --button-secondary-bg-focus: var(--c-gray-light-4);
  --button-secondary-inverse-text: var(--c-text-inverse-1);
  --button-secondary-inverse-border: var(--c-white);
  --button-secondary-inverse-bg-hover: var(--c-gray-dark-4);
  --button-secondary-inverse-bg-focus: var(--c-gray-dark-3);

  --button-tertiary-text: var(--c-text-1);
  --button-tertiary-bg: var(--c-white-mute);
  --button-tertiary-bg-hover: var(--c-gray-light-4);
  --button-tertiary-bg-focus: var(--c-gray-light-3);
  --button-tertiary-inverse-text: var(--c-text-inverse-1);
  --button-tertiary-inverse-bg: var(--c-black-mute);
  --button-tertiary-inverse-bg-hover: var(--c-gray-dark-3);
  --button-tertiary-inverse-bg-focus: var(--c-gray-dark-2);

  --button-text-text: var(--c-text-1);
  --button-text-bg-hover: var(--c-white-mute);
  --button-text-bg-focus: var(--c-gray-light-4);
  --button-text-inverse-text: var(--c-text-inverse-1);
  --button-text-inverse-bg: var(--c-black-mute);
  --button-text-inverse-bg-hover: var(--c-gray-dark-3);
  --button-text-inverse-bg-focus: var(--c-gray-dark-2);

  --button-mute-text: var(--c-text-2);
  --button-mute-text-hover: var(--c-text-1);
  --button-mute-bg-hover: var(--c-white-mute);
  --button-mute-bg-focus: var(--c-gray-light-4);
  --button-mute-inverse-text: var(--c-text-inverse-2);
  --button-mute-inverse-text-hover: var(--c-text-inverse-1);
  --button-mute-inverse-bg-hover: var(--c-gray-dark-3);
  --button-mute-inverse-bg-focus: var(--c-gray-dark-2);
}

.dark-mode {
  --button-primary-text: var(--c-text-inverse-1);
  --button-primary-bg: var(--c-white);
  --button-primary-bg-hover: var(--c-gray-light-3);
  --button-primary-bg-focus: var(--c-gray-light-1);
  --button-primary-inverse-text: var(--c-text-1);
  --button-primary-inverse-bg: var(--c-black);
  --button-primary-inverse-bg-hover: var(--c-gray-dark-4);
  --button-primary-inverse-bg-focus: var(--c-gray-dark-3);

  --button-secondary-border: var(--c-white);
  --button-secondary-bg-hover: var(--c-black-mute);
  --button-secondary-bg-focus: var(--c-gray-dark-3);
  --button-secondary-inverse-text: var(--c-text-inverse-1);
  --button-secondary-inverse-border: var(--c-white);
  --button-secondary-inverse-bg-hover: var(--c-gray-dark-4);
  --button-secondary-inverse-bg-focus: var(--c-gray-dark-3);

  --button-tertiary-text: var(--c-text-1);
  --button-tertiary-bg: var(--c-black-mute);
  --button-tertiary-bg-hover: var(--c-gray-dark-3);
  --button-tertiary-bg-focus: var(--c-gray-dark-1);
  --button-tertiary-inverse-text: var(--c-text-inverse-1);
  --button-tertiary-inverse-bg: var(--c-black-mute);
  --button-tertiary-inverse-bg-hover: var(--c-gray-dark-3);
  --button-tertiary-inverse-bg-focus: var(--c-gray-dark-2);

  --button-text-text: var(--c-text-1);
  --button-text-bg-hover: var(--c-black-mute);
  --button-text-bg-focus: var(--c-gray-dark-3);
  --button-text-inverse-text: var(--c-text-inverse-1);
  --button-text-inverse-bg: var(--c-black-mute);
  --button-text-inverse-bg-hover: var(--c-gray-dark-3);
  --button-text-inverse-bg-focus: var(--c-gray-dark-2);

  --button-mute-text: var(--c-text-2);
  --button-mute-text-hover: var(--c-text-1);
  --button-mute-bg-hover: var(--c-black-mute);
  --button-mute-bg-focus: var(--c-gray-dark-3);
  --button-mute-inverse-text: var(--c-text-inverse-2);
  --button-mute-inverse-text-hover: var(--c-text-inverse-1);
  --button-mute-inverse-bg-hover: var(--c-gray-dark-3);
  --button-mute-inverse-bg-focus: var(--c-gray-dark-2);
}

/**
 * Component: Inputs
 * -------------------------------------------------------------------------- */

:root {
  --input-label: var(--c-text-1);
  --input-note: var(--c-text-2);
  --input-text: var(--c-text-1);
  --input-placeholder: var(--c-text-3);

  --input-filled-bg: var(--c-bg-mute);
  --input-filled-bg-focus: var(--c-bg);
  --input-filled-bg-disabled: var(--c-gray-light-4);

  --input-outlined-bg-disabled: var(--c-white-mute);
  --input-outlined-border: var(--c-divider);
  --input-outlined-border-focus: var(--c-black);

  --input-clear-bg-disabled: var(--c-white);

  --input-focus-border: var(--c-black);
  --input-focus-bg: var(--c-white);

  --input-help: var(--c-text-2);

  --input-action-filled-bg: var(--c-white-mute);
  --input-action-filled-bg-hover: var(--c-gray-light-4);
  --input-action-filled-bg-focus: var(--c-gray-light-3);

  --input-action-outlined-bg: var(--c-white-mute);
  --input-action-outlined-border: var(--c-divider);
  --input-action-outlined-bg-hover: var(--c-gray-light-4);
  --input-action-outlined-bg-focus: var(--c-gray-light-3);
}

.dark-mode {
  --input-outlined-bg-disabled: var(--c-black-mute);
  --input-outlined-border-focus: var(--c-white);

  --input-focus-border: var(--c-gray);
}

/**
 * Component: Card
 * -------------------------------------------------------------------------- */

:root {
  --card-bg: var(--c-white);
  --card-bg-mute: var(--c-white-soft);
  --card-shadow-depth-1: var(--shadow-depth-1);
  --card-shadow-depth-2: var(--shadow-depth-2);
  --card-shadow-depth-3: var(--shadow-depth-3);
  --card-shadow-depth-4: var(--shadow-depth-4);
  --card-shadow-depth-5: var(--shadow-depth-5);
}

/**
 * Component: Dropdown
 * -------------------------------------------------------------------------- */

:root {
  --dropdown-item-hover-bg: var(--c-white-soft);
}

.dark-mode {
  --dropdown-item-hover-bg: var(--c-black);
}

/**
 * Component: Modal
 * -------------------------------------------------------------------------- */
:root {
  --modal-content-bg: var(--c-bg);
}
