.u-story {
  margin: 0 auto;
  max-width: 720px;
}

.u-story-content {
  h1 {
    line-height: 56px;
    font-size: 48px;
  }

  h1 + p {
    padding-top: 16px;
    line-height: 28px;
    font-size: 20px;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 24px;
  }

  section {
    margin-top: 72px;
    border-top: 1px solid var(--c-divider);
    padding-top: 48px;
  }
}
