textarea {
  font-family: inherit;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-8  { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }

.m-0 { margin: 0 !important; }

.max-w-128 { max-width: 128px; }
.max-w-192 { max-width: 192px; }
.max-w-256 { max-width: 256px; }

.h-64 { height: 64px; }

.text-14 { font-size: 14px !important; }

.bg-info { background-color: var(--c-info); }

.rounded-6 { border-radius: 6px; }
