:root {
  --z-index-sidebar: 1000;
  --z-index-header: 1100;
  --z-index-footer: 1100;
  --z-index-dropdown: 2000;
  --z-index-screen: 3000;
  --z-index-backdrop: 4000;
  --z-index-modal: 4010;
  --z-index-snackbar: 5000;
}
