name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: pnpm

      - name: Install deps
        run: pnpm install

      - name: Type
        run: pnpm run type

      - name: Lint
        run: pnpm run lint:fail

      - name: Test
        run: pnpm run vitest:run
