body {
  line-height: 20px;
  font-size: 14px;
}

#app {
  min-height: 100vh;
}

.__histoire-render-story {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--c-bg-elv-1);
}

.__histoire-render-story.__histoire-render-custom-controls {
  min-height: 0;
  background-color: transparent;
}
