body {
  line-height: 20px;
  font-size: 14px;
}

#app {
  min-height: 100vh;
}

.__histoire-render-story {
  position: relative;
  padding: 32px;
  min-height: 100vh;
  background-color: var(--c-bg-soft);
}
